# Ejercicios Pair Programming - Módulo 2 Sprint 1
## Lección 6 - Pandas VI
### Noemi Azorin y Silvia Gordón

In [87]:
import pandas as pd
import numpy as np

Es el momento de poner en práctica los groupby de pandas. Para esto vamos a trabajar con el csv creado en el ejercicio de pair programming anterior.

El objetivo de este ejercicio es agrupar los datos para contestar las siguientes preguntas:

In [88]:
ataques_groupby = pd.read_csv("./ficheros_pandas/attacks3.csv", index_col = 0)
ataques_groupby.head(2)

,case_number,year,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,unnamed:_0,fatal_(y/n),injury,date
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,0,N,"No injury to occupant, outrigger canoe and pad...",25-Jun-2018
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,6,Y,FATAL,03-Jun-2018

1 - ¿Cuántos ataques hubo por país? Devuelve un DataFrame.

📌 NOTA Ordena los resultados de mayor a menor. Esto todavía no lo hemos visto, pero un DataFrame lo podemos ordenar con .sort_values(). [Aquí](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sort_values.html) tenéis una explicación de cómo hacerlo.

In [89]:
country = ataques_groupby.groupby("country").value_counts()
df_ataques = pd.DataFrame(country)
df_ataques.reset_index(inplace=True)
df_ataques.sort_values(by="country", ascending = True)
df_ataques.head(5)

,country,case_number,year,type,area,location,activity,name,sex_,age,time,species_,href,siglo,unnamed:_0,fatal_(y/n),injury,date,0
0,AMERICAN SAMOA,1955.08.08,1955.0,Unprovoked,Tutuila Island,Pago Pago Bay,Swimming,Sailor from tuna vessel,M,28,A.M.,Blue shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,4275,Y,"FATAL, abdomen bitten",08-Aug-1955,1
1,AMERICAN SAMOA,1958.12.12,1958.0,Unprovoked,Tutuila Island,Van Camp wharf,Cleaning hull of ship,Sailor of tuna vessel No.12 Taiyo Marei,M,22,11h00,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,4120,Y,"FATAL, left thigh & hip bitten",12-Dec-1958,1
2,ARGENTINA,1954.01.22.a,1954.0,Unprovoked,Buenos Aires Province,"Miramar Beach, 46 km south of Mar de Plata, Bu...",Floating,Alfredo Aubone,M,18,13h05,White shark tooth fragment recovered from ankl...,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,4338,N,"Arm & left calf bitten, right leg lacerated",22-Jan-1954,1
3,AUSTRALIA,2014.10.17,2014.0,Unprovoked,New South Wales,Avoca Beach,Surfing,Kirra-Belle Olsson,F,13,06h30,1 m shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,486,N,"Lacerations to left calf & ankle, puncture wou...",17-Oct-2014,1
4,AUSTRALIA,2012.03.31,2012.0,Unprovoked,Western Australia,Stratham Beach,Scuba diving,Peter Kurmann,M,33,09h30,"White shark, 4m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,800,Y,FATAL,31-Mar-2012,1

2 - ¿Cuántos ataques ha habido por año? Devuelve un DataFrame. De nuevo ordena los resultados de mayor a menor.

In [90]:
year = ataques_groupby.groupby("year").value_counts()
df_ataques = pd.DataFrame(year)
df_ataques.reset_index(inplace = True)
df_ataques.sort_values(by = "year", ascending = True)
df_ataques.head(5)

,year,case_number,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,unnamed:_0,fatal_(y/n),injury,date,0
0,0.0,ND.0038,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,13 or 14,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6249,Y,"FATAL, left leg bitten with severe blood loss",1941-1942,1
1,0.0,ND.0063,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River near Abu al Khasib,Swimming in section of river used for washing ...,male,M,16,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6227,N,Right leg lacerated & surgically amputated,1960s,1
2,0.0,ND.0064,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,Swimming naked near a date palm where many dat...,male,M,6,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,6226,N,Arm severed,1960s,1
3,1868.0,1868.05.13,Unprovoked,INDIA,Hoogly River,Ghat,Standing,male,M,35,Before 10h30,Identified as C. gangeticus by Dr. J. Fayrer,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,5906,Y,"FATAL, upper left thigh, groin & buttocks seve...",13-May-1868,1
4,1880.0,1880.11.25,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,5798,Y,"Feet bitten, surgically amputated FATAL",25-Nov-1880,1

3 - ¿Cuántos ataques hubo por año y sexo? Devolved un DataFrame solo del año 2000 en adelante.

In [91]:
year_sex_2000 = df_ataques[df_ataques["year"] >= 2000]
year_sex_2000.head(2)

,year,case_number,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,unnamed:_0,fatal_(y/n),injury,date,0
680,2000.0,2000.12.12,Unprovoked,FIJI,Taveuni,Garden Island Resort,Swimming back from anchored sailboat,Michael Loxton,M,47,14h30,6 m [20'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,1977,Y,"FATAL, leg severed",12-Dec-2000,1
681,2000.0,2000.12.03,Unprovoked,AUSTRALIA,Queensland,"Sykes Reef, Great Barrier Reef",Spearfishing,Chris Hogan,M,38,09h30,"Bronze whaler shark, 2.5 m [8.25']",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,1980,N,Left elbow and forearm bitten,03-Dec-2000,1

In [92]:
year_sex = year_sex_2000.groupby(["year", "sex_"]).value_counts()

In [93]:
year_sex_pd = pd.DataFrame(year_sex)
year_sex_pd.head(2)

                                                                                                                                                                                                                                                                                                                          0
year   sex_ case_number  type       country   area     location                           activity               name             age time  species_                href                                               siglo     unnamed:_0 fatal_(y/n) injury                                             date        0
2000.0 F    2000.03.26   Unprovoked USA       Florida  Juno Beach, Palm Beach County      Boogie boarding        Heather Van Olst 14  11h15 1.8 m [6'] shark        http://sharkattackfile.net/spreadsheets/pdf_dir... siglo-XXI 2056       N           Right knee lacerated                               26-Mar-2000 1  1
2012.0 F    2012.03.06.a Provoked   AUSTRALIA Victoria Shipwreck Cove, Melbourne Aquarium Diving, feeding sharks female           34  11h30 Tawny nurse shark, 40cm http://sharkattackfile.net/spreadsheets/pdf_dir... siglo-XXI 808        N           Superficial lacerations to right side of face P... 06-Mar-2012 1  1

In [94]:
#eliminamos la columna que nos aparece como "0", para no tenerlas duplicadas y poder hacer un .reset_index()
year_sex_pd.drop(columns= 0, inplace = True)

In [95]:
year_sex_pd.reset_index()

,year,sex_,case_number,type,country,area,location,activity,name,age,time,species_,href,siglo,unnamed:_0,fatal_(y/n),injury,date,0
0,2000.0,F,2000.03.26,Unprovoked,USA,Florida,"Juno Beach, Palm Beach County",Boogie boarding,Heather Van Olst,14,11h15,1.8 m [6'] shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,2056,N,Right knee lacerated,26-Mar-2000,1
1,2012.0,F,2012.03.06.a,Provoked,AUSTRALIA,Victoria,"Shipwreck Cove, Melbourne Aquarium","Diving, feeding sharks",female,34,11h30,"Tawny nurse shark, 40cm",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,808,N,Superficial lacerations to right side of face ...,06-Mar-2012,1
2,2012.0,F,2012.03.14.b,Unprovoked,USA,Florida,"New Smyrna Beach, Volusia County",Surfing,Sydney Levy,15,16h00,4' to 5' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,805,N,Bitten on ankle,14-Mar-2012,1
3,2012.0,F,2012.05.06,Unprovoked,USA,California,Off Catalina Island,Paddle boarding,Rose McKereghan,15,07h20,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,794,N,"No injury, shark bit paddleboard",06-May-2012,1
4,2012.0,F,2012.05.31,Unprovoked,USA,North Carolina,"Avon, Hatteras Island, Outer Banks, Dare County",Wading,Megan Konkler,33,13h30,"18"" to 24"" shark",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,787,N,Foot bitten,31-May-2012,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
738,2006.0,M,2006.04.11,Unprovoked,AUSTRALIA,New South Wales,Newcastle Beach,Surfing,Luke Cook,15,13h30,"Bronze whaler shark, a juvenile",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,1484,N,Minor laceration to left foot,11-Apr-2006,1
739,2006.0,M,2006.04.13,Provoked,USA,Florida,"Port of the Islands, Collier County",Fishing,a sport fisherman,35,Afternoon,"Bull shark, 4' to bull shark",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,1483,N,3 to 4 cm laceration on foot from hooked shark...,13-Apr-2006,1
740,2006.0,M,2006.05.02,Provoked,AUSTRALIA,Queensland,"Moffat Beach, Caloundra",Snorkeling,male,46,16h30,"Wobbegong shark, 2 m",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,1479,N,Abrasion & 6 puncture wounds on chest after gr...,02-May-2006,1
741,2018.0,M,2018.06.03.a,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,6,Y,FATAL,03-Jun-2018,1
742,2004.0,lli,2004.11.11.b,Unprovoked,USA,California,"Bunkers, Humboldt Bay, Eureka, Humboldt County",Surfing,Brian Kang,38,13h30,5.5 m [18'] white shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,1618,N,"Lacerations to hand, knee & thigh",11-Nov-2004,1

4 - Primero extraed solo las filas que correspondan a USA, AUSTRALIA y SOUTH AFRICA. ¿Cuántos de los ataques fueron letales por sexo? Devuelve un DataFrame.

In [105]:
df_ataques_pais = df_ataques[(df_ataques["country"] == "USA") | (df_ataques["country"] == "AUSTRALIA") | (df_ataques["country"] == "SOUTH AFRICA") & (df_ataques["fatal_(y/n)"] == "Y")]
df_ataques_pais.head(2)

,year,case_number,type,country,area,location,activity,name,sex_,age,time,species_,href,siglo,unnamed:_0,fatal_(y/n),injury,date,0
4,1880.0,1880.11.25,Unprovoked,AUSTRALIA,Queensland,"Petrie Bight, Brisbane River",Swimming,Alexey Drury,M,12,Afternoon,Bull shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,5798,Y,"Feet bitten, surgically amputated FATAL",25-Nov-1880,1
5,1892.0,1892.03.02,Provoked,AUSTRALIA,New South Wales,Lake Macquarie,Fishing,Christopher Wang,M,21,Night,12' shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XX,5668,N,Lacerations to calf by netted shark PROVOKED I...,02-Mar-1892,1

In [106]:
df_letales = df_ataques_pais.groupby("sex_")["fatal_(y/n)"].count()

In [107]:
df_letales_pais = pd.DataFrame(df_letales)
df_letales_pais.head()

      fatal_(y/n)
sex_
F             150
M             873
lli             1

In [108]:
df_letales_pais.reset_index(inplace = True)

In [110]:
df_letales_pais

  sex_  fatal_(y/n)
0    F          150
1    M          873
2  lli            1

5 - Usando el DataFrame creado en el ejercicio anterior. ¿En qué país hubo más ataques?

In [146]:
df_final = df_ataques_pais["country"].value_counts()
df_final

USA             674
AUSTRALIA       307
SOUTH AFRICA     43
Name: country, dtype: int64

In [136]:
pddd = pd.DataFrame(result).reset_index()
pddd

      index       country
0         4     AUSTRALIA
1         5     AUSTRALIA
2         6     AUSTRALIA
3         7  SOUTH AFRICA
4         8     AUSTRALIA
...     ...           ...
1019   1417     AUSTRALIA
1020   1418     AUSTRALIA
1021   1419     AUSTRALIA
1022   1420     AUSTRALIA
1023   1422           USA

[1024 rows x 2 columns]

In [131]:
df_mas_ataques

year    case_number   type        country    area             location                                                 activity                             name               sex_  age  time       species_                                                     href                                                                                  siglo      unnamed:_0  fatal_(y/n)  injury                                                     date         0
1880.0  1880.11.25    Unprovoked  AUSTRALIA  Queensland       Petrie Bight, Brisbane River                             Swimming                             Alexey Drury       M     12   Afternoon  Bull shark                                                   http://sharkattackfile.net/spreadsheets/pdf_directory/1880.11.25-AlexeyDrury.pdf      siglo-XX   5798        Y            Feet bitten, surgically amputated FATAL                    25-Nov-1880  1    1
1892.0  1892.03.02    Provoked    AUSTRALIA  New South Wales  Lake Macquarie                                           Fishing                              Christopher Wang   M     21   Night      12' shark                                                    http://sharkattackfile.net/spreadsheets/pdf_directory/1892.03.02-Wang.pdf             siglo-XX   5668        N            Lacerations to calf by netted shark PROVOKED INCIDENT      02-Mar-1892  1    1
2007.0  2007.06.25    Unprovoked  USA        Florida          New Smyrna Beach, Volusia County                         Surfing                              Justin Lewis       M     20   17h30      4' shark                                                     http://sharkattackfile.net/spreadsheets/pdf_directory/2007.06.25-JustinLewis.pdf      siglo-XXI  1365        N            6 to 8 puncture wounds to right hand                       25-Jun-2007  1    1
        2007.07.17.a  Unprovoked  USA        North Carolina   Atlantic Beach, Carteret County                          Wading                               female             F     30   13h00      5' shark                                                     http://sharkattackfile.net/spreadsheets/pdf_directory/2007.07.17.a-NC.pdf             siglo-XXI  1358        N            Lacerations to right thigh & left foot                     17-Jul-2007  1    1
        2007.07.18.b  Unprovoked  USA        North Carolina   North Topsail Beach, Onslow  County                      Swimming                             Matt Baker         M     14   12h30      2' to 3' shark                                               http://sharkattackfile.net/spreadsheets/pdf_directory/2007.07.18.b-MattBaker.pdf      siglo-XXI  1355        N            Right calf bitten                                          18-Jul-2007  1    1
                                                                                                                                                                                                                                                                                                                                                                                                                                                                        ..
1993.0  1993.07.07    Unprovoked  USA        Florida          Daytona Beach, Volusia County                            Playing                              Melissa Rodrigues  F     12   18h12      1.8 m to 2.4 m [6' to 8'] shark, tooth fragments recovered   http://sharkattackfile.net/spreadsheets/pdf_directory/1993.07.07-Rodrigues.pdf        siglo-XX   2481        N            Right knee bitten                                          07-Jul-1993  1    1
        1993.08.12    Unprovoked  USA        California       Abalone Point, Westport Union Landing, Mendocino County  Free diving for abalone (ascending)  David R. Miles     M     39   14h00      5.5 m to 6 m [18' to 20']  white shark                       http://sharkattackfile.net/spreadsheets/pdf_directory/1993.08.12-Miles_Collier.pdf    siglo-XX   2477        N            Severe bites to head & shoulder                            12-Aug-1993  1    1
        1993.08.15.a  Unprovoked  USA        North Carolina   Pamlico Sound                                            Riding floatation device             Petra Rijoes       F     19   10h00      Bull shark                                                   http://sharkattackfile.net/spreadsheets/pdf_directory/1993.08.15.a-Rijoes.pdf         siglo-XX   2475        N            Severe lacerations to abdomen & thighs                     15-Aug-1993  1    1
        1993.10.10    Boating     USA        California       Goat Rock, Bodega Bay, Sonoma County?                    Kayaking                             Rosemary Johnson   F     34   14h30      >6 m [20'] white shark                                       http://sharkattackfile.net/spreadsheets/pdf_directory/1993.10.10-Johnson_Collier.pdf  siglo-XX   2462        N            No Injury, Kayak holed                                     10-Oct-1993  1    1
2018.0  2018.06.25    Boating     USA        California       Oceanside, San Diego County                              Paddling                             Julie Wolfe        F     57   18h00      White shark                                                  http://sharkattackfile.net/spreadsheets/pdf_directory/2018.06.25-Wolfe.pdf            siglo-XXI  0           N            No injury to occupant, outrigger canoe and paddle damaged  25-Jun-2018  1    1
Length: 1024, dtype: int64

In [124]:
df_mas_ataques_pais = pd.DataFrame(df_mas_ataques)
df_mas_ataques_pais.head()

ValueError: DataFrame constructor not properly called!

6 - ¿Qué y cuántos tipos de ataques hubo por país?